<div id="payment" class="text-left" style="display:none;"></div>
<div class="terms">
  <label>{% if text_agree %}
    {{ text_agree }}
    <input type="checkbox" name="agree" value="1" />
  {% endif %}</label>
  <button type="button" id="button-payment-method" class="btn btn-primary" data-loading-text="{{ text_loading }}">{{ button_continue }}</button>
</div>