<legend>Custom Javascript</legend>

<div class="form-group">
    <label class="col-sm-2 control-label">Custom Javascript Status</label>
    <div class="col-sm-10 toggle-btn">
    <label><input type="radio" name="settings[basel][basel_custom_js_status]" class="custom-js-select" value="0" {% if basel_custom_js_status == '0' %} checked="checked"{% endif %} /><span>Disabled</span></label>
    <label><input type="radio" name="settings[basel][basel_custom_js_status]" class="custom-js-select" value="1" {% if basel_custom_js_status == '1' %} checked="checked"{% endif %} /><span>Enabled</span></label>
    </div>                   
</div>

<div id="custom_js_holder"{% if basel_custom_js_status %} style="display:block"{% else %} style="display:none"{% endif %}>
<div class="form-group">
    <label class="col-sm-2 control-label">Javascript</label>
    <div class="col-sm-10">
    <textarea name="settings[basel][basel_custom_js]" class="form-control code">{{ basel_custom_js ? basel_custom_js }}</textarea>
    </div>                   
</div>
</div>
